[submodule "libraries/arduino-lmic"]
	path = libraries/arduino-lmic
	url = git@github.com:mcci-catena/arduino-lmic
[submodule "libraries/Catena-Arduino-Platform"]
	path = libraries/Catena-Arduino-Platform
	url = git@github.com:mcci-catena/Catena-Arduino-Platform.git
[submodule "libraries/mcci-catena-4430"]
	path = libraries/mcci-catena-4430
	url = git@github.com:mcci-catena/mcci-catena-4430.git
[submodule "libraries/Catena-mcciadk"]
	path = libraries/Catena-mcciadk
	url = git@github.com:mcci-catena/Catena-mcciadk.git
[submodule "libraries/arduino-lorawan"]
	path = libraries/arduino-lorawan
	url = git@github.com:mcci-catena/arduino-lorawan.git
[submodule "libraries/Adafruit_BME280_Library"]
	path = libraries/Adafruit_BME280_Library
	url = git@github.com:mcci-catena/Adafruit_BME280_Library.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:mcci-catena/Adafruit_Sensor.git
[submodule "libraries/MCCI_FRAM_I2C"]
	path = libraries/MCCI_FRAM_I2C
	url = git@github.com:mcci-catena/MCCI_FRAM_I2C.git
[submodule "libraries/SD"]
	path = libraries/SD
	url = git@github.com:mcci-catena/SD.git
[submodule "extra/Arduino_Core_STM32"]
	path = extra/Arduino_Core_STM32
	url = git@github.com:mcci-catena/Arduino_Core_STM32.git
[submodule "extra/bootloader"]
	path = extra/bootloader
	url = git@github.com:mcci-catena/bootloader.git
[submodule "extra/dfu-util"]
	path = extra/dfu-util
	url = git://git.code.sf.net/p/dfu-util/dfu-util
[submodule "extra/tools-build-with-cli"]
	path = extra/tools-build-with-cli
	url = git@github.com:mcci-catena/tools-build-with-cli.git
[submodule "sketches/Catena4430_Sensor"]
	path = sketches/Catena4430_Sensor
	url = git@github.com:mcci-catena/Catena4430_Sensor.git
[submodule "libraries/Time"]
	path = libraries/Time
	url = git@github.com:mcci-catena/Time.git
[submodule "libraries/MCCI-Catena-SHT3x"]
	path = libraries/MCCI-Catena-SHT3x
	url = git@github.com:mcci-catena/MCCI-Catena-SHT3x.git
[submodule "libraries/MCCI_Catena_SCD30"]
	path = libraries/MCCI_Catena_SCD30
	url = git@github.com:mcci-catena/MCCI_Catena_SCD30.git
[submodule "libraries/mcci_ltr_329als"]
	path = libraries/mcci_ltr_329als
	url = git@github.com:mcci-catena/mcci_ltr_329als.git
